*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

*.apk
*.aar
*.ap_
*.aab
*.dex
*.class

bin/
gen/
out/
build/
.gradle/

app/release/*

*.log

captures/
.navigation/

.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/modules.xml
.idea/.name
.idea/misc.xml
.idea/deploymentTargetDropDown.xml
.idea/render.experimental.xml
.idea/caches/
.idea/navEditor.xml
.idea/inspectionProfiles/

# Windows-specific files
Thumbs.db
ehthumbs.db
Desktop.ini





